.divider {
  width: 100%;
  height: 1px;
  background-color: var(--primary-text-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
  margin-bottom: 1em;
  opacity: 10%;
  border-radius: 30px;
}

.title {
  font-weight: bolder;
  margin: 0;
}

.article-section-header {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.article-section-header img {
  width: 20px;
  height: auto;
  object-fit: contain;
}

.article-link {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  padding: 0.2rem 0;
}

.article-link:hover {
  color: var(--tertiary-text-color);
  transform: scale(1.01);
}

@media (min-width: 1024px) {
  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--primary-text-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 4rem 0;
    opacity: 10%;
    border-radius: 30px;
  }

  .about-me {
    margin-bottom: 4rem;
  }
}
