.container {
  padding: 1em 0;
}

.left-section {
  display: flex;
  flex-direction: row-reverse;
  justify-content: start;
  align-items: flex-end;
}

/* Use a pseudo-element for the dot for better control */
.dot::before {
  content: "·"; /* This is the dot */
  font-weight: bold; /* Makes the dot thicker */
  vertical-align: super; /* Ensures it's aligned with the middle of text */
  position: relative;
  bottom: -0.1rem;
}

.dot {
  margin: 0 5px;
  text-align: center;
  vertical-align: middle;
  font-weight: bold;
}

.additional-info {
  color: var(--primary-text-color);
  font-weight: 500;
  margin-top: -0.5em; 
}

.role-and-company-container {
  font-weight: bolder;
  color: var(--secondary-text-color);
}

.right-section p {
  padding: 0;
  margin: 0;
}

.role-and-company-section {
  display: flex;
  gap: 0.5em;
  width: 100%;
  align-items: flex-start;
  height: min-content;
}

.right-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skill-section {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.role {
  color: var(--tertiary-text-color);
}

.logo {
  object-fit: cover;
  width: 25px;
  height: 25px;
  border-radius: 100%;
}

@media (min-width: 1439px) {
  .container {
    display: flex;
    padding: 1rem;
    gap: 2rem;
  }

  .role-and-company-section {
    display: flex;
    gap: 1em;
    align-items: flex-start;
  }

  .left-section {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    /* padding-top: 0.4rem; */
  }

  .logo {
    object-fit: cover;
    width: 50px;
    height: 50px; /* ensure the height is set for object-fit to work effectively */
    object-position: center;
    align-self: flex-end;
    border-radius: 5px;
    margin-top: -1.2em;
  }
}
