.tag {
  background: var(--secondary-bg-color);
  color: var(--tertiary-text-color);
  font-family: 'Inter', sans-serif;
  font-size: 0.7rem;
  width: max-content;
  padding: 0.2em 1em;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;

  &:hover {
    background: #34495e;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  }
}
