.main {
  padding: 2rem;
}

@media (min-width: 1024px) {
  .main {
    padding: 0 6rem;
    display: flex;
    gap: 2em;
  }

  .left-section {
    flex: 1;
    position: sticky;
    height: max-content;
    top: 10%; /* Adjust this value as needed, 0 will stick it to the top */
  }

  .right-section {
    align-self: flex-end;
    flex: 1;
    padding: 6rem 0;
  }
}
