.main {
  padding: 2rem;
}

.navigation {
  display: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: var(--primary-text-color);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
  margin-top: 4rem;
  margin-bottom: 1em;
  opacity: 10%;
  border-radius: 30px;
}

.name {
  font-family: Inter;
  font-weight: 700;
  color: var(--secondary-text-color);
  letter-spacing: 2px;
  font-size: 2rem;
}

.punchline {
  color: var(--primary-text-color);
}

.profile-image {
  object-fit: cover;
  width: 250px;
  height: 300px;
  object-position: -40% 20%;
  border-radius: 10px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.2);
}

.profile-icons {
  display: flex;
  gap: 1rem;
  margin: 1em 0;
}

.mouse-follower {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  pointer-events: none;
  transition: background-position 300ms;
  background: transparent; /* Initial state, will be updated dynamically */
}

.profile-icons img {
  width: 35px;
  transition: transform 0.2s ease-in-out;
}

.profile-icons img:hover {
  transform: scale(1.02);
}

.profile-icons a:hover {
  cursor: pointer;
}

.title {
  font-weight: bolder;
  margin: 0;
}

.article-section-header {
  display: flex;
  gap: 0.2rem;
  align-items: center;
  margin-bottom: 1rem;
}

.article-section-header img {
  width: 20px;
  height: auto;
  object-fit: contain;
}

.article-link {
  color: inherit;
  text-decoration: none;
  position: relative;
  display: inline-block;
  transition: color 0.2s ease-in-out, transform 0.2s ease-in-out;
  padding: 0.2rem 0;
}

.article-link:hover {
  color: var(--tertiary-text-color);
  transform: scale(1.01);
}

.description {
  font-family: Inter;
  color: var(--secondary-text-color);
}
@media (min-width: 760px) {
  .name {
    font-size: 3rem;
    margin-left: -5px;
    font-family: Inter;
    font-weight: 700;
    color: var(--secondary-text-color);
    letter-spacing: 2px;
    font-size: 2.3rem;
  }
  .description {
    font-family: Inter;
    font-size: 1.3rem;
    color: var(--secondary-text-color);
  }
}

@media (min-width: 1024px) {
  .navigation {
    display: block;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--primary-text-color);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin: 4rem 0;
    opacity: 10%;
    border-radius: 30px;
  }

  .main {
    padding: 0 6rem;
    display: flex;
    gap: 2em;
  }

  .left-section {
    flex: 1;
    position: sticky;
    height: max-content;
    top: 10%; /* Adjust this value as needed, 0 will stick it to the top */
  }

  .right-section {
    align-self: flex-end;
    flex: 1;
    padding: 6rem 0;
  }

  .about-me {
    margin-bottom: 4rem;
  }

  .profile-icons {
    display: flex;
    gap: 1rem;
  }
}

.dumb-fix {
  color: red;
}
