.mouse-follower {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 30;
  pointer-events: none;
  transition: background-position 300ms;
  background: transparent; /* Initial state, will be updated dynamically */
}
