<a
  class="project-card-link"
  [href]="project.link"
  target="_blank"
  [ngClass]="{ 'simple-card': !project.imageUrl }"
>
  @if (project.imageUrl) {
  <div class="container">
    <div class="left-section">
      <div class="img-wrapper">
        <img [src]="project.imageUrl" [alt]="project.name" />
        @if (project.linkIconSrc && !screen.isLarge()) {
        <img class="icon" [src]="project.linkIconSrc" />
        }
      </div>
    </div>
    <div class="right-section">
      <div class="project-name-and-logo-container">
        <p class="project-name">{{ project.name }}</p>
        @if (project.linkIconSrc && screen.isLarge()) {
        <img class="icon" [src]="project.linkIconSrc" />
        }
      </div>

      <p>{{ project.description }}</p>

      @if(project.prize) {
      <p class="project-prize">🏆 {{ project.prize }}</p>
      }

      <div class="skill-section">
        @for (skill of project.skills; track $index) {
        <app-tag [text]="skill" />
        }
      </div>
    </div>
  </div>
  } @else {
  <div class="simple-content">
    <h2 class="simple-project-title">{{ project.name }}</h2>
    <p class="simple-project-description">{{ project.description }}</p>
    <span class="simple-project-link">View Project &#8594;</span>
  </div>
  }
</a>
