<a
  [ngStyle]="{ color: 'inherit', textDecoration: 'none' }"
  [href]="project.link"
  target="_blank"
>
  <div class="container">
    <div class="left-section">
      <div class="img-wrapper">
        <img [src]="project.imageUrl" />
        @if (project.linkIconSrc && !screen.isLarge) {
        <img class="icon" [src]="project.linkIconSrc" />
        }
      </div>
    </div>
    <div class="right-section">
      <div class="project-name-and-logo-container">
        <p class="project-name">
          {{ project.name }}
        </p>
        @if (project.linkIconSrc && screen.isLarge) {
        <img class="icon" [src]="project.linkIconSrc" />
        }
      </div>

      <p>
        {{ project.description }}
      </p>

      @if(project.prize) {
      <p class="project-prize">🏆 {{ project.prize }}</p>
      }

      <div class="skill-section">
        @for (skill of project.skills; track $index) {
        <app-tag [text]="skill" />
        }
      </div>
    </div>
  </div>
</a>
