.container {
  padding: 1em 0;
  gap: 2rem;
  font-family: "Inter";
  border-radius: 10px;
}

.container:hover {
  cursor: pointer;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  background-color: rgba(26, 48, 73, 0.1);
}

.container:hover .project-name {
  color: var(--tertiary-text-color);
}

.project-name-and-logo-container {
  display: flex;
  gap: 0.4em;
}

.container:hover .icon {
  width: 25px;
}

.left-section {
  flex: 1;
  position: relative;
}

.right-section {
  flex: 3;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.icon {
  width: 20px;
  height: auto;
  object-fit: contain;
  position: absolute;
  bottom: 1em;
  padding: 0.15em;
  background-color: black;
  right: 0.6em;
  /* box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5); */
}

.img-wrapper {
  width: min-content;
  position: relative;
}

.project-name {
  color: var(--secondary-text-color);
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header-section {
  display: flex;
  gap: 3px;
  align-items: center;
}

.skill-section {
  display: flex;
  gap: 0.5rem;
  flex-wrap: wrap;
}

p {
  margin: 0;
}

.project-prize {
  color: var(--secondary-text-color);
}
img {
  width: 200px;
  height: 105px;
  object-position: 0% 1%;
  object-fit: cover;
  border-radius: 8px;
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.1);
}

@media (min-width: 1439px) {
  .container {
    display: flex;
    border: 4px black white;
    padding: 1rem;
    gap: 2rem;
    font-family: "Inter";
    transition: box-shadow 0.1s ease-in-out, background-color 0.1s ease-in-out; /* Add this line */
    border-radius: 10px;
  }
  .icon {
    width: 20px;
    height: auto;
    object-fit: contain;
    transition: width 0.1s ease-in-out;
    position: static;
    background-color: transparent;
  }
}
