<div class="menu">
  <div
    class="menu-item"
    [ngClass]="{ selected: selectedItem === 'ABOUT' }"
    (click)="selectItem('ABOUT')"
  >
    <span class="menu-line"></span>
    <span class="menu-text">ABOUT</span>
  </div>
  <div
    class="menu-item"
    [ngClass]="{ selected: selectedItem === 'EXPERIENCE' }"
    (click)="selectItem('EXPERIENCE')"
  >
    <span class="menu-line"></span>
    <span class="menu-text">EXPERIENCE</span>
  </div>
  <div
    class="menu-item"
    [ngClass]="{ selected: selectedItem === 'PROJECTS' }"
    (click)="selectItem('PROJECTS')"
  >
    <span class="menu-line"></span>
    <span class="menu-text">PROJECTS</span>
  </div>
  <div
    class="menu-item"
    [ngClass]="{ selected: selectedItem === 'PAYMENT' }"
    (click)="selectItem('PAYMENT')"
  >
    <span class="menu-line"></span>
    <span class="menu-text">PAYMENT</span>
  </div>
</div>
