/* You can add global styles to this file, and also import other style files */

:root {
  --primary-bg-color: #f5e49f;
  --secondary-bg-color: #f4d96a;
  --primary-text-color: #333333;
  --tertiary-text-color: #e5a12d;
  --secondary-text-color: #1a1a1a;
  --hover-color: #f0c420;
  --font-family: Inter;
}

*::selection {
  background: var(--tertiary-text-color); /* Change to your desired background color */
  color: #000; /* Change to your desired text color */
}




html,
body {
  margin: 0;
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  scroll-behavior: smooth;
  scroll-padding: 2em;

}


.mat-typography {
  font-family: var(--font-family);
  line-height: 2;
}
