/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap');

:root {
  --primary-bg-color: #111830;
  --secondary-bg-color: #1a3049;
  --primary-text-color: rgb(182, 194, 223);
  --tertiary-text-color: #54d2d3;
  --secondary-text-color: #E2E8F0;
  --hover-color: #1a3049;
  --font-family: Inter;
}

*::selection {
  background: var(--tertiary-text-color); /* Change to your desired background color */
  color: #000; /* Change to your desired text color */
}




html,
body {
  margin: 0;
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  scroll-behavior: smooth;
  scroll-padding: 2em;

}


.mat-typography {
  font-family: var(--font-family);
  line-height: 2;
}
