/* You can add global styles to this file, and also import other style files */

:root {
  --primary-bg-color: #0f172a;
  --secondary-bg-color: #1e293b;
  --primary-text-color: #cbd5e1;
  --tertiary-text-color: #a78bfa;
  --secondary-text-color: #f8fafc;
  --hover-color: #334155;
  --card-background-color: #1e293b;
  --border-color: #334155;
  --font-family: Inter;
}

*::selection {
  background: var(--tertiary-text-color); /* Change to your desired background color */
  color: #000; /* Change to your desired text color */
}




html,
body {
  margin: 0;
  background: var(--primary-bg-color);
  color: var(--primary-text-color);
  scroll-behavior: smooth;
  scroll-padding: 2em;

}


.mat-typography {
  font-family: var(--font-family);
  line-height: 2;
}
